In [2]:
import pandas as pd

In [7]:
kayak_sentiment = pd.read_csv("kayak_roberted.csv")
kayak = pd.read_csv("kayak.csv")

In [8]:
kayak.groupby('year')['rating'].mean()

year
2009    2.531250
2010    3.196621
2011    3.555983
2012    4.565791
2013    4.530295
2014    4.344841
2015    4.395741
2016    4.589549
2017    4.576551
2018    4.356061
2019    4.337312
2020    4.126761
2021    3.786026
2022    4.109302
2023    4.248039
Name: rating, dtype: float64

0        It's really mind-blowing how low of the prices...
1        I really like the kayak app.. it's great for f...
2        The app no longer works for hotel searches. Fo...
3        I find Kayak to have the most customizable fli...
4        In the past the app has been pretty accurate w...
                               ...
43638                                             Wow spps
43639                                               Exlant
43640                                                   :)
43641                                                  :-)
43642                                                ☆☆☆☆☆
Name: review, Length: 43314, dtype: object

In [19]:
kayak_full = kayak.dropna(subset=['review'])
all_reviews = ' '.join(kayak_full['review'].astype(str))
words = all_reviews.lower().split()

word_counts = {}

for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

word_counts_df = pd.DataFrame(list(word_counts.items()), columns=['Word', 'Count'])

sorted_word_counts = word_counts_df.sort_values(by='Count', ascending=False)

sorted_word_counts.to_csv('wordCount.csv', index=False)

In [9]:
kayak_sentiment.groupby('year')[['roberta_neg', 'roberta_neu', 'roberta_pos']].mean()

      roberta_neg  roberta_neu  roberta_pos
year
2009    -0.145308     0.155775     0.149600
2010    -0.067904     0.164389     0.061922
2011    -0.376533     0.166439     0.398984
2012    -1.705797     0.089270     2.010402
2013    -1.625680     0.119565     1.872779
2014    -1.257106     0.134602     1.430699
2015    -1.368250     0.185216     1.493060
2016    -1.664557     0.152156     1.864862
2017    -1.423418     0.137927     1.615507
2018    -0.993953     0.106912     1.175653
2019    -0.872176     0.126045     1.016236
2020    -0.535669     0.192685     0.546587
2021     0.041371     0.175079    -0.063773
2022    -0.460819     0.225492     0.411829
2023    -0.891654     0.148035     0.997352

In [14]:
kayak_sentiment[kayak_sentiment['rating'] == 5].sort_values(by='roberta_neg', ascending=False)

,year,rating,review,roberta_neg,roberta_neu,roberta_pos
14973,2015,5,Yet another reason to hate Hotwire and it's te...,3.382139,-0.677179,-2.669441
8695,2013,5,Airlines are scum! Lower your prices! Too many...,3.054782,-0.521517,-2.656458
739,2020,5,Can you please add a function to exclude certa...,3.032803,-0.151274,-2.992691
1702,2018,5,Orbitz is ass..... like so ass......kayak all ...,3.007013,-0.531261,-2.525704
7932,2013,5,Don't know how well it works because it locks ...,2.978859,-0.537830,-2.577935
...,...,...,...,...,...,...
5474,2015,5,KAYAK is my personal travel agency that offers...,-3.603434,1.232441,2.335690
13600,2011,5,I use Kayak almost every time when planning fo...,-3.616791,0.934781,3.009098
1389,2022,5,Booking a trip to Mexico Colombia Brazil from ...,-3.617795,1.777778,1.889772
12287,2012,5,Ive used Kayak to book my family trip to Disne...,-3.649489,1.032245,2.784148
5526,2014,5,"Booked my trip to Ireland, Seattle, and back a...",-3.708904,1.062496,2.964651